.text-zone {
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	width: 40%;
	max-height: 90%;
}

.home-page {
	h1 {
		color: #fff;
		font-size: 53px;
		margin: 0;
		font-family: 'Coolvetica';
    	font-weight: 400;

		&::before {
			content: '<h1>';
			font-family: 'La Belle Aurore', cursive;
			color: #ffd700;
			opacity: 0.6;
			font-size: 18px;
			position: absolute;
			margin-top: -40px;
			left: 15px;
		}

		&::after {
			content: '</h1>';
			font-family: 'La Belle Aurore', cursive;
			color: #ffd700;
			opacity: 0.6;
			font-size: 18px;
			position: absolute;
			margin-top: 18px;
			margin-left: 20px;
			animation: fadeIn 1s 1.7s backwards;
		}

		img {
			width: 32px;
			margin-left: 20px;
			opacity: 0;
			height: auto;
			animation: rotateIn 1s linear both;
			animation-delay: 1.4s;
		}
	}

	h2 {
		color: #8d8d8d;
		margin-top: 20px;
		font-weight: 400;
		font-size: 11px;
		font-family: sans-serif;
		letter-spacing: 3px;
		animation: fadeIn 1s 1.8s backwards;
	}

	.flat-button {
		padding: 1em 2em;
		border: none;
		border-radius: 5px;
		font-weight: bold;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #ffd700;
		transition: all 1000ms;
		font-size: 15px;
		position: relative;
		overflow: hidden;
		outline: 2px solid #ffd700;
		margin-top: 25px;
		background-color: transparent;
	  }
	  
	  .flat-button:hover {
		color: #444;
		transform: scale(1.1);
		outline: 2px solid #ffd700;
		box-shadow: 4px 5px 17px -4px #ffd700;
	  }
	  
	  .flat-button::before {
		content: "";
		position: absolute;
		left: -50px;
		top: 0;
		width: 0;
		height: 100%;
		background-color: #ffd700;
		transform: skewX(45deg);
		z-index: -1;
		transition: width 1000ms;
	  }
	  
	  .flat-button:hover::before {
		width: 250%;
	  }
}

@media screen and (max-width: 1200px) {
	.tags,
	.home-page h1:before,
	.home-page h1:after {
	  display: none;
	}
  
	.home-page .text-zone {
	  position: initial;
	  width: 100%;
	  transform: none;
	  padding: 10px;
	  box-sizing: border-box;
	}
  
	.home-page .flat-button {
	  float: none;
	  display: block;
	  margin: 20px auto 0 auto;
	  width: 124px;
	}
  }