.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }

  .flat-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
	transition: all 500ms;

  }

  .flat-button {
		padding: 1em 2em;
		border: none;
		border-radius: 3px;
		font-weight: bold;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #ffd700;
		transition: all 1000ms;
		font-size: 15px;
		position: relative;
		overflow: hidden;
		outline: 1px solid #ffd700;
		margin-top: 25px;
		background-color: transparent;
		float: right;
		text-align: center;
		margin-right: 10px;
		margin-bottom: 10px;
	  }
	  
	  .flat-button:hover {
		color: #444;
		transform: scale(1.1);
		outline: 1px solid #ffd700;
	  }
	  
	  .flat-button::before {
		content: "";
		position: absolute;
		left: -50px;
		top: 0;
		width: 0;
		height: 100%;
		background-color: #ffd700;
		transform: skewX(45deg);
		z-index: -1;
		transition: width 1000ms;
	  }
	  
	  .flat-button:hover::before {
		width: 250%;
	  }
}